* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-family:
    PingFang SC,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  box-sizing: border-box;
  print-color-adjust: exact !important;

  &::selection {
    background: #16b998aa;
  }
}

button {
  padding: 0;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}

.opacity-leave-to,
.opacity-enter-from {
  --style: '!opacity-0';
}

.opacity-enter-active,
.opacity-leave-active {
  --style: transition-all duration-250 ease-in-out;
}
